<h1 class="title animated jackInTheBox">{{ titulo }}</h1>

<ul class="animated flipInX" *ngIf="modo=='lista'">
  <p *ngIf="tarefas.length == 0">
    <small>Nenhuma tarefa encontrada!</small>
  </p>
  <li *ngFor="let tarefa of tarefas">
    {{ tarefa.descricao }}  
    <button *ngIf="!tarefa.concluido" (click)="concluir(tarefa)"><i class="far fa-check-circle"></i>Concluir</button>
    <button *ngIf="tarefa.concluido" (click)="retomar(tarefa)"><i class="fas fa-check-circle"></i>Refazer</button>  
    <button (click)="remover(tarefa)"><i class="far fa-trash-alt"></i>Remover</button>

  </li>
</ul>

<div id="modal" *ngIf="modo=='adicionar'" class="animated flipInX">
  <form [formGroup]="formTarefa">
    
      <h1 class="text-center">Nova Tarefa</h1><br>
      <input 
        type="text" 
        placeholder="Descrição da tarefa" 
        maxlength="60" 
        formControlName="descricao" >
        <small class="danger" *ngIf="formTarefa.controls['descricao'].invalid && !formTarefa.controls['descricao'].pristine">
          Este campo deve conter entre 5 e 60 caracteres<br>
        </small>
        <p>
          <button class="button" [disabled]="formTarefa.invalid" (click)="adicionar()">
            <i class="far fa-save"></i>
            Salvar
          </button>
        </p>
    
  </form>
</div>

<button class="add-button animated fadeInUp button" (click)="alternarModo('adicionar')" *ngIf="modo=='lista'">
  <i class="fas fa-plus-circule"></i>
  NOVA TAREFA
</button>

<button class="add-button animated fadeInUp button" (click)="alternarModo('lista')" *ngIf="modo=='adicionar'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>